.listContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100px;

  width: 400px;
  padding: 20px;
  padding-top: 0;

  background-color: #ffffff;
    text-align: left;
}

.listItem {
  display: flex;
  justify-content: space-between;
}

.listItem:not(:last-child) {
  margin-bottom: 5px;
}

.listText {
  margin: 0;
   transition: all 250ms linear;
}

.button {
  background-color: #eca1ab;
  cursor: pointer;
}

.button:before {
  content: 'Delete';
  background-color: inherit;
  cursor: pointer;
  font-weight: 600;

  transition: all 250ms linear;
}

.button:hover:before {
  color: red;
}

.listItem:hover .listText {
  color: #ffffff;
  background-color: #eca1ab;
  padding: 0 10px;
  margin-left: 10px;
}
